
.title-class {
    font-size: 10rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    @media @phone {
      margin-left: 15%;
      font-size: 8rem;
    }
  }  
  
  .home {

    .Mildred {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
      margin-top:10%;
      .social {
        font-size: 2rem;
        text-decoration: none;
        color: black;
      }
    }
    .Carlos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
      margin-top:7%;
      .social {
        font-size: 2rem;
        text-decoration: none;
        color: black;
      }
    }
    .Laura {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
      margin-top:7%;
      .social {
        font-size: 2rem;
        text-decoration: none;
        color: black;
      }
    }
    .Matt {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
      margin-top:7%;
      .social {
        font-size: 2rem;
        text-decoration: none;
        color: black;
      }
    }
    .Kiran {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
      margin-top:7%;
      .social {
        font-size: 2rem;
        text-decoration: none;
        color: black;
      }
    }
    .profImage {
      width: 250px;
      height: 250px;
    }
    .explanation {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
      margin-top: 5%;
    }
}// home
