
.font-color() {
    color: @font-color;
}

.bg-color() {
    background-color: @bg-color;
}

.center-it() {
    display: flex;
    justify-content: center;
}
.column-it() {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-profile() {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.display-btn(@bg-color, @font-color) {
    background-color: @bg-color;
    color: @font-color;
}
